@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/Outfit-Regular.ttf'),
        url('/assets/fonts/Outfit/Outfit-Light.ttf'),
        url('/assets/fonts/Outfit/Outfit-Medium.ttf'),
        url('/assets/fonts/Outfit/Outfit-SemiBold.ttf'),
        url('/assets/fonts/Outfit/Outfit-Bold.ttf'),
        url('/assets/fonts/Outfit/Outfit-ExtraBold.ttf');
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* Colors */
    --background-clr: rgb(21, 30, 48);
    --main-card-clr: rgb(27, 36, 53);
    --second-card-clr: rgb(17, 27, 46);
    --icon-clr: rgb(192, 192, 192);
    --text2-clr: rgb(145, 143, 143);
    --icon-clr-hover: rgb(40, 53, 75);
    --text-clr-hover: rgb(238, 238, 238);
    --sidebar-bg-hover: rgb(25, 39, 66);

    /* Box Shadow */
    --box-shadow: 0 1px 2px rgba(21, 40, 65, 0.1);
    --sidebar-shadow: rgba(12, 24, 39, 0.233);
    --sidebar-inset: inset -5px 0px 5px 0px rgba(124, 124, 124, 0.151);
}

/* LIGHT THEME */
body.light {
    --background-clr: rgb(230, 230, 230);
    --main-card-clr: rgb(221, 219, 219);
    --second-card-clr: rgb(224, 226, 228);
    --icon-clr: rgb(30, 30, 30);
    --text2-clr:rgb(77, 77, 77);
    --icon-clr-hover: rgb(230, 230, 230);
    --text-clr-hover: rgb(0, 77, 150);
    --sidebar-bg-hover: rgb(211, 211, 211);

    /* Box Shadow */
    --box-shadow: 0 1px 2px rgba(20, 45, 59, 0.1);
}

/*Typography*/
.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.text-primary {
    color: var(--icon-clr);
    line-height: 1.5rem;
    letter-spacing: .1px;
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.text-secondary {
    color: var(--text2-clr);
    line-height: 1.5rem;
    letter-spacing: .1px;
}

/*Spaces*/
.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.m-05 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.m-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

body {
    background-color:  var(--second-card-clr);
    z-index: 1;
    display: block;
}

/* General */
.cursor-pointer {
    cursor: pointer;
}

/* Navbar */
.navbar {
    background-color: var(--main-card-clr);
    width: 100%;
    height: 4.5rem;
    padding: 0.5rem 4rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar-logo-area{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-button-area{
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar-icon-list {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.navbar-icon {
    font-size: 20px;
    color: var(--icon-clr);
    margin: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.2s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.navbar-icon:hover {
    background-color: var(--icon-clr-hover);
}

.bars {
    display: none;
}

.navbar-menu {
    width: 100%;
    display: flex;
    height: 3rem;
    background-color: var(--second-card-clr);
    margin-top: 4.5rem;
    z-index: 2;
    position: fixed;
}

.navbar-menu-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.navbar-category-list {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.navbar-category-list-item {
    margin: 1rem;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: .5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--icon-clr)
}

.navbar-category-list-item:hover {
    color: var(--text-clr-hover);
}

.sidebar-menu {
    display: none;
}

.main-body {
    min-height: 100vh;
    position: relative;
    padding: 8rem 4.5rem 4rem 4.5rem;
    overflow: hidden;
}

.main-card {
    display: none;
    color: var(--icon-clr);
    background-color: var(--main-card-clr);
    border-radius: 5px;
    padding: 1rem;
}

.main-card.active {
    display: block;
}

.main-card-content {
    display: block;
}


/* 
===========================
HOME CONTENT RELATED
=========================== 
*/

.home-cover {
    width: 100%;
    position: relative;
    padding-top: 15%;
    border-radius: 5px;
    overflow: visible;
    background-color: var(--background-clr);
    margin-top: 0;
}

.home-cover-photo {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url('/assets/images/content/cover.png');
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.profile-picture {
    position: absolute;
    bottom: clamp(-20%, -35%, -20%);
    left: 50%;
    transform: translateX(-50%);
    
    width: 16vw;
    height: 16vw;
    max-width: 120px;
    max-height: 120px;
    min-width: 70px;
    min-height: 70px;

    background-color: #4A90E2;
    border-radius: 50%;
    border: 4px solid var(--main-card-clr);
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    z-index: 1;

    background-image: url('/assets/images/content/profile.jpg');
    background-size: cover;
    background-position: center;
}

.home-cover-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.home-basic-card {
    width: 100%;
    min-height: 100px;
    background-color: var(--background-clr);
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.home-basic-card:hover {
    background-color: var(--second-card-clr);
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
}

.home-second-card {
    width: 100%;
    min-height: 300px;
    background-color: var(--main-card-clr);
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.home-second-card-icon-box {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.home-second-card-icon {
    font-size: 40px;
    padding: 1rem;
    border-radius: 100%;
}

.home-second-card:hover {
    background-color: var(--icon-clr-hover);
}

/* 
===========================
ABOUT CONTENT RELATED
=========================== 
*/

.about-we-card {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.about-we-card-item {
    width: 100%;
    min-height: 150px;
    display: flex;
}

.about-we-card-item-indent-section {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-we-card-item-content-section {
    width: 100%;
    display: block;
    margin-top: -.25rem;
    margin-bottom: 1rem;
}

.we-circle {
    height: 20px;
    width: 20px;
    border: 5px solid var(--icon-clr);
    border-radius: 100%;
}

.we-indent {
    width: 3px;
    height: 100%;
    background-color: var(--icon-clr);
    border-radius: 8px;
}

.about-edu-card {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.about-edu-item {
    min-height: 100px;
    background-color: var(--main-card-clr);
    border-radius: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1.5rem;
    transition: all 0.2s ease-in-out;
    display: flex;
}

.about-edu-item:hover {
    transform: translateY(-5px);
}

.about-edu-item-pic-area {
    height: 100px;
    width: 100px;
}

.edu-pic {
    height: 100%;
}

.about-edu-item-content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

@media only screen and (max-width: 768px) {

    /* Navbar */
    .navbar {
        padding: 0.5rem 1.5rem;
    }

    .bars {
        display: flex;
    }

    .navbar-menu {
        display: none;
        margin-top: 4.5rem;
    }

    .sidebar-shadow {
        height: 100%;
        width: 100%;
        position: fixed;
        background-color: var(--sidebar-shadow);
        z-index: 3;

        /* For Function */
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
    }

    .sidebar-shadow.active {
        opacity: 1;
        visibility: visible;
    }

    .sidebar-menu {
        display: block;
        width: 300px;
        height: 100%;
        position: fixed;
        background-color: var(--second-card-clr);
        z-index: 4;
        box-shadow: var(--sidebar-inset);

        /* For Function */
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar-menu.active {
        transform: translateX(0);
    }

    .sidebar {
        padding-top: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 100%;
    }

    .sidebar-place-logo {
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
    }

    .sidebar-place-icon {
        display: flex;
        margin-top: .5rem;
        align-items: center;
        cursor: pointer;
    }

    .sidebar-place-content {
        height: 100%;
        width: 100%;
        margin-top: .6rem;
    }

    .sidebar-category-list {
        display: block;
        text-decoration: none;
        list-style: none;
    }

    .sidebar-list-item {
        width: 100%;
        height: 3.2rem;
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: .5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        color: var(--icon-clr)
    }

    .sidebar-list-item:hover {
        color: var(--text-clr-hover);
        background-color: var(--sidebar-bg-hover);
    }
    
    .sidebar-list-item-icon {
        margin-left: 1rem;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1em;
    }

    /* Main Content */
    .main-body {
        padding: 6rem 2rem 0 2rem;
    }

    .profile-picture {
        bottom: clamp(-50%, -35%, -20%);
    }

    /* 
    ===========================
    HOME CONTENT RELATED
    =========================== 
    */

    .home-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
    }
}

@media only screen and (max-width: 576px) {
    /* 
    ===========================
    HOME CONTENT RELATED
    =========================== 
    */

    .home-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}