@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit/Outfit-Regular.ttf'),
        url('/assets/fonts/Outfit/Outfit-Light.ttf'),
        url('/assets/fonts/Outfit/Outfit-Medium.ttf'),
        url('/assets/fonts/Outfit/Outfit-SemiBold.ttf'),
        url('/assets/fonts/Outfit/Outfit-Bold.ttf'),
        url('/assets/fonts/Outfit/Outfit-ExtraBold.ttf');
}

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* Colors */
    --background-clr: rgb(14, 19, 26);
}

body {
    background-color:  var(--background-clr);
}

/* General */
.cursor-pointer {
    cursor: pointer;
}